@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
  position: fixed;
}

.allContent{
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.title{
  width: 50vw;
  height: 15vh;
  font-size: 3vw;
  text-align: center;
}

.leftAside{
  width: 50vw;
  height: 12vh;
  font-size: 2.2vw;
}

.mainContent{
  
  width: 50vw;
  height: 60vh;
 
}

.footer{
  clear: both;
  width: 50vw;
  background-color: blueviolet;
  height: 12vh;
  font-size: 1vw;
}
/*
  여기서부터는 디테일 부분의 css
*/

.title > div {
  width: 100%;
  height: 100%;
  padding-top: 3vh;
}

.buttons{
  display: inline;
  float: left;
  text-align: center;
  width: 50vw;
  margin: auto 5vw;
}

.button {
  display: block;
  position: relative;
  float: left;
  width: 8vw;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  cursor: pointer;
}

.btnBlueGreen {
  background: #00AE68;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnOrange {
  background: #FFAA40;
}

.btnPurple {
  background: #A74982;
}

.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #A66615;
}

.btnPurple.btnPush {
  box-shadow: 0px 5px 0px 0px #6D184B;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}

.btnPurple.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #6D184B;
}

.album{
  width: 50vw;
  height: 100%;
  width: fit-content;
}

.pic1, .pic2, .pic4{
  margin: auto 15vw;
  width: 100%;
  height: 100%;
  width: fit-content;
}

.pic3{
  margin: auto 3vw;
  width: 100%;
  height: 100%;
  width: fit-content;
}

