*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
  position: fixed;
}

.allContent{
  width: 100%;
  height: 100%;
}

.title{
  background-color: skyblue;
  width: 100%;
  height: 20vh;
  font-size: 5vw;
  text-align: center;
}

.leftAside{
  float: left;
  background-color: bisque;
  width: 9vw;
  height: 65vh;
  font-size: 2.2vw;
}

.mainContent{
  background-color: blue;
  float: right;
  width: 91vw;
  height: 65vh;
  font-size: 3vw;
}

.footer{
  clear: both;
  background-color: blueviolet;
  height: 14vh;
  font-size: 1vw;
}
/*
  여기서부터는 디테일 부분의 css
*/

.title > div {
  width: 100%;
  height: 100%;
  padding-top: 3vh;
}

.buttons{
  text-align: center;
  width: 8.3vw;
  margin: auto 1vw;
}

.button {
  background-color: aqua;
  width: 100%;
  margin-top: 7.5vh;
  border-radius: 10px;
  
}